body{
height:100%;
width:100%;
margin: 0;
padding: 0;
}

header{
    font-weight: bolder;
    font-size: 300%;
    text-align: center;
    height:5%;
    width:100%;
}


.navbar{
    background-color: whitesmoke;
    margin-top: 2%;
    height: 100px;
    width: 100%;
}

.navlist{
    /*background-color: blue;*/
    height:65%;
    width: 5%;
    float: right;
    margin-right: 2%;
    padding-top: 1.5%;
}

.name{
    font-size: 200%;
    /*background-color: blue;*/
    height:100%;
    width: 20%;
    float: left;
    margin-left: 5%;
}

form {
    width: 100%;
    max-width: 400px;      
    margin: 60px auto;    
    padding: 20px;
    background: #f5f5f5;
    text-align: center;
}

form input,
form textarea {
    width: 90%;
    padding: 12px;
    margin: 10px auto;
    border: 2px solid #ccc;
    font-size: 16px;
    display: block;
}

form button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    margin-top: 10px;
}

footer{
    text-align: center;
}

#about {
    padding: 20px;
    background-color: #f2f2f2;
    margin: 20px 0;
}

#about img {
    margin-bottom: 10px;
}

#about p {
    width: 90%;
}


#projects {
    padding: 20px;
    background-color: #e6e6e6;
    margin: 20px 0;
}

.project-card {
    border: 2px solid #aaa;
    padding: 10px;
    width: 220px;
    margin-bottom: 15px;
    background: white;
}

.project-card img {
    width: 100%;
    margin-bottom: 5px;
}

.project-card p {
    margin: 0;
}
